body{
    text-align: center;
}
.search{
    background-color: lightgrey;
}
.bx-left{
    width: 32%;
    height: 100px;
    background-color: lightskyblue;
    float: left;
    margin: 2px 0;
    text-align: center;
}
.bx-middle{
    width: 25%;
    height: 100px;
    background-color: rgb(108, 200, 253);
    float: left;
    margin: 2px;
    text-align: center;
}
.bx-right{
    width: 42.5%;
    height: 100px;
    background-color:rgb(68, 178, 247);
    float: left;
    margin: 2px 0;
    text-align: center;
}
.footer{
    width: 100%;
    height: 50px;
    float: left;
    margin: 2px 0;
    text-align: center;
}